@font-face {
  font-family: 'Computer Modern Sans';
  src: url("fonts/cmunss.eot");
  src: url("fonts/cmunss.eot?#iefix") format("embedded-opentype"), url("fonts/cmunss.woff") format("woff"), url("fonts/cmunss.ttf") format("truetype"), url("fonts/cmunss.svg#cmunss") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Computer Modern Sans';
  src: url("fonts/cmunsx.eot");
  src: url("fonts/cmunsx.eot?#iefix") format("embedded-opentype"), url("fonts/cmunsx.woff") format("woff"), url("fonts/cmunsx.ttf") format("truetype"), url("fonts/cmunsx.svg#cmunsx") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Computer Modern Sans';
  src: url("fonts/cmunsi.eot");
  src: url("fonts/cmunsi.eot?#iefix") format("embedded-opentype"), url("fonts/cmunsi.woff") format("woff"), url("fonts/cmunsi.ttf") format("truetype"), url("fonts/cmunsi.svg#cmunsi") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Computer Modern Sans';
  src: url("fonts/cmunso.eot");
  src: url("fonts/cmunso.eot?#iefix") format("embedded-opentype"), url("fonts/cmunso.woff") format("woff"), url("fonts/cmunso.ttf") format("truetype"), url("fonts/cmunso.svg#cmunso") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Palatino Linotype';
  src: url("fonts/PalatinoLinotype-Bold.eot");
  src: url("fonts/PalatinoLinotype-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/PalatinoLinotype-Bold.woff2") format("woff2"), url("fonts/PalatinoLinotype-Bold.woff") format("woff"), url("fonts/PalatinoLinotype-Bold.ttf") format("truetype"), url("fonts/PalatinoLinotype-Bold.svg#PalatinoLinotype-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Palatino Linotype';
  src: url("fonts/PalatinoLinotype-BoldItalic.eot");
  src: url("fonts/PalatinoLinotype-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/PalatinoLinotype-BoldItalic.woff2") format("woff2"), url("fonts/PalatinoLinotype-BoldItalic.woff") format("woff"), url("fonts/PalatinoLinotype-BoldItalic.ttf") format("truetype"), url("fonts/PalatinoLinotype-BoldItalic.svg#PalatinoLinotype-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Palatino Linotype';
  src: url("fonts/PalatinoLinotype-Italic.eot");
  src: url("fonts/PalatinoLinotype-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/PalatinoLinotype-Italic.woff2") format("woff2"), url("fonts/PalatinoLinotype-Italic.woff") format("woff"), url("fonts/PalatinoLinotype-Italic.ttf") format("truetype"), url("fonts/PalatinoLinotype-Italic.svg#PalatinoLinotype-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Palatino Linotype';
  src: url("fonts/PalatinoLinotype-Roman.eot");
  src: url("fonts/PalatinoLinotype-Roman.eot?#iefix") format("embedded-opentype"), url("fonts/PalatinoLinotype-Roman.woff2") format("woff2"), url("fonts/PalatinoLinotype-Roman.woff") format("woff"), url("fonts/PalatinoLinotype-Roman.ttf") format("truetype"), url("fonts/PalatinoLinotype-Roman.svg#PalatinoLinotype-Roman") format("svg");
  font-weight: normal;
  font-style: normal; }

.highlight .c {
  color: #998;
  font-style: italic; }

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

.highlight .k {
  font-weight: bold; }

.highlight .o {
  font-weight: bold; }

.highlight .cm {
  color: #998;
  font-style: italic; }

.highlight .cp {
  color: #999;
  font-weight: bold; }

.highlight .c1 {
  color: #998;
  font-style: italic; }

.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic; }

.highlight .gd {
  color: #000;
  background-color: #fdd; }

.highlight .gd .x {
  color: #000;
  background-color: #faa; }

.highlight .ge {
  font-style: italic; }

.highlight .gr {
  color: #a00; }

.highlight .gh {
  color: #999; }

.highlight .gi {
  color: #000;
  background-color: #dfd; }

.highlight .gi .x {
  color: #000;
  background-color: #afa; }

.highlight .go {
  color: #888; }

.highlight .gp {
  color: #555; }

.highlight .gs {
  font-weight: bold; }

.highlight .gu {
  color: #aaa; }

.highlight .gt {
  color: #a00; }

.highlight .kc {
  font-weight: bold; }

.highlight .kd {
  font-weight: bold; }

.highlight .kp {
  font-weight: bold; }

.highlight .kr {
  font-weight: bold; }

.highlight .kt {
  color: #458;
  font-weight: bold; }

.highlight .m {
  color: #099; }

.highlight .s {
  color: #d14; }

.highlight .na {
  color: #008080; }

.highlight .nb {
  color: #0086B3; }

.highlight .nc {
  color: #458;
  font-weight: bold; }

.highlight .no {
  color: #008080; }

.highlight .ni {
  color: #800080; }

.highlight .ne {
  color: #900;
  font-weight: bold; }

.highlight .nf {
  color: #900;
  font-weight: bold; }

.highlight .nn {
  color: #555; }

.highlight .nt {
  color: #000080; }

.highlight .nv {
  color: #008080; }

.highlight .ow {
  font-weight: bold; }

.highlight .w {
  color: #bbb; }

.highlight .mf {
  color: #099; }

.highlight .mh {
  color: #099; }

.highlight .mi {
  color: #099; }

.highlight .mo {
  color: #099; }

.highlight .sb {
  color: #d14; }

.highlight .sc {
  color: #d14; }

.highlight .sd {
  color: #d14; }

.highlight .s2 {
  color: #d14; }

.highlight .se {
  color: #d14; }

.highlight .sh {
  color: #d14; }

.highlight .si {
  color: #d14; }

.highlight .sx {
  color: #d14; }

.highlight .sr {
  color: #009926; }

.highlight .s1 {
  color: #d14; }

.highlight .ss {
  color: #990073; }

.highlight .bp {
  color: #999; }

.highlight .vc {
  color: #008080; }

.highlight .vg {
  color: #008080; }

.highlight .vi {
  color: #008080; }

.highlight .il {
  color: #099; }

html {
  font-size: 16px; }

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Palatino Linotype", serif;
  color: black;
  background-color: white;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

hr {
  margin-top: 30px;
  margin-bottom: 30px; }

/**
 * `main` element
 */
main {
  display: block;
  /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px;
  font-family: 'Computer Modern Sans';
  margin-top: 7.5px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-family: "Computer Modern Sans", sans-serif;
  font-weight: bold; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: black;
    text-decoration: underline; }
  .social-media-list a:hover {
    text-decoration: none; }
    .social-media-list a:hover .username {
      text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 1.125rem;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }
  blockquote i, blockquote em {
    font-style: normal; }

/**
 * Code formatting
 */
pre,
code {
  font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
  font-size: 0.9375em;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eeeeff; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

.highlight {
  border-radius: 3px;
  background: #eeeeff; }
  .highlighter-rouge .highlight {
    background: #eeeeff; }

/**
 * Wrapper
 */
.wrapper {
  max-width: calc(800px - (30px));
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px; }
  @media screen and (min-width: 800px) {
    .wrapper {
      max-width: calc(800px - (30px * 2));
      padding-right: 30px;
      padding-left: 30px; } }
/**
 * Clearfix
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.orange {
  color: #f66a0a; }

.grey {
  color: #828282; }

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;
  padding: 5px 3px 2px 5px;
  vertical-align: text-bottom; }

/**
 * Tables
 */
table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: #2e2e2e;
  border-collapse: collapse;
  border: 1px solid #e8e8e8; }
  table tr:nth-child(even) {
    background-color: #f7f7f7; }
  table th, table td {
    padding: 10px 15px; }
  table th {
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0; }
  table td {
    border: 1px solid #e8e8e8; }
  @media screen and (max-width: 800px) {
    table {
      display: block;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar; } }
/**
 * Tasklist
 */
.task-list-item {
  list-style-type: none !important; }

.task-list-item input[type="checkbox"] {
  margin: 0 4px 0.25em -20px;
  vertical-align: middle; }

/**
 * Site header
 */
.path-header {
  width: 100%;
  height: 35px;
  position: fixed;
  background-color: white;
  display: flex;
  align-items: center;
  /* Vertical center alignment */
  font-size: 14px;
  z-index: 15; }

.cover {
  padding-top: 35px;
  min-height: 100px; }
  .cover img {
    max-height: 200px;
    width: 100%;
    object-fit: cover; }

.icon {
  margin-top: -39px;
  line-height: 78px;
  font-size: 78px;
  max-width: calc(800px - (30px));
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px; }
  .icon img {
    width: 128px;
    height: 128px;
    object-fit: cover; }
  @media screen and (min-width: 800px) {
    .icon {
      max-width: calc(800px - (30px * 2));
      padding-right: 30px;
      padding-left: 30px; } }
.header-nav {
  margin: 0;
  margin-left: 15px;
  height: 35px;
  line-height: 35px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }
  .header-nav::-webkit-scrollbar {
    display: none; }
  .header-nav .header-title-block {
    font-family: "Computer Modern Sans", sans-serif;
    display: inline-flex; }
    .header-nav .header-title-block a {
      padding-left: 5px;
      padding-right: 5px;
      color: black; }
      .header-nav .header-title-block a:hover {
        text-decoration: none;
        /* no underline */
        background-color: rgba(55, 53, 47, 0.08); }
    .header-nav .header-title-block:not(:last-of-type)::after {
      content: '/';
      margin: 0;
      color: #c1d3de; }
    .header-nav .header-title-block:last-of-type {
      padding-left: 5px;
      padding-right: 5px; }

.miniicon img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-top: -2px;
  display: unset !important; }

/**
 * Page content
 */
.page-content {
  flex: 1 0 auto; }
  .page-content img {
    margin-left: auto;
    margin-right: auto;
    display: block; }

.page-heading {
  font-size: 2rem; }

.page-list-heading {
  font-size: 1.75rem; }

.page-list {
  margin-left: 0;
  list-style: none; }
  .page-list > li {
    margin-bottom: 30px; }

.page-meta {
  font-size: 14px;
  color: #828282; }

.page-link {
  display: block;
  font-size: 1.5rem; }

/**
 * Posts
 */
.page-title {
  font-family: "Computer Modern Sans", sans-serif;
  font-weight: bold;
  font-size: 2.625rem;
  letter-spacing: -1px;
  line-height: 1.15;
  margin-bottom: 15px;
  margin-top: 5px; }
  @media screen and (min-width: 800px) {
    .page-title {
      font-size: 2.625rem; } }
.page-content h1 {
  font-size: 2.5rem;
  letter-spacing: -1px;
  line-height: 1.15; }
  @media screen and (min-width: 800px) {
    .page-content h1 {
      font-size: 2.5rem; } }
.page-content {
  margin-bottom: 30px; }
  .page-content h1, .page-content h2, .page-content h3 {
    margin-top: 60px; }
  .page-content h4, .page-content h5, .page-content h6 {
    margin-top: 30px; }
  .page-content h2 {
    font-size: 1.75rem; }
    @media screen and (min-width: 800px) {
      .page-content h2 {
        font-size: 2rem; } }
  .page-content h3 {
    font-size: 1.375rem; }
    @media screen and (min-width: 800px) {
      .page-content h3 {
        font-size: 1.625rem; } }
  .page-content h4 {
    font-size: 1.25rem; }
  .page-content h5 {
    font-size: 1.125rem; }
  .page-content h6 {
    font-size: 1.0625rem; }

.social-media-list {
  display: table;
  margin: 0 auto; }
  .social-media-list li {
    float: left;
    margin: 5px 10px 5px 0; }
    .social-media-list li:last-of-type {
      margin-right: 0; }
    .social-media-list li a {
      display: block;
      padding: 7.5px;
      border: 1px solid #e8e8e8; }
      .social-media-list li a:hover {
        border-color: #dbdbdb; }

/**
 * Grid helpers
 */
@media screen and (min-width: 800px) {
  .one-half {
    width: calc(50% - (30px / 2)); } }

/**
 * Gallery
 */
.gallery {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense; }

.card {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  min-height: 100px; }
  .card a {
    color: black; }
    .card a:hover {
      text-decoration: none;
      /* no underline */ }
  .card:hover {
    background-color: rgba(55, 53, 47, 0.08); }

.card img {
  width: 100%;
  border-radius: 3px 3px 0 0;
  object-fit: cover;
  max-height: 120px; }

.card-desc {
  border-top: 1px;
  margin: 7px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  width: auto; }

.card-tags {
  margin: 7px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  width: auto; }

.card-tag {
  display: inline;
  font-family: "Computer Modern Sans", sans-serif;
  width: min-content;
  border-radius: 3px;
  padding: 1px 3px 1px 3px;
  margin-right: 3px;
  color: #fff;
  background-color: #5e76bf; }

.properties_table {
  display: table;
  background-color: white;
  color: black;
  font-family: "Computer Modern Sans", sans-serif;
  font-size: 14px;
  border: None; }
  .properties_table td {
    background-color: white;
    border: None;
    padding: 5px;
    white-space: pre-line; }

.db_list_scroller {
  overflow-x: scroll; }

.db_list {
  font-family: "Computer Modern Sans", sans-serif;
  font-size: 14px;
  border: None;
  background-color: white;
  color: black;
  display: table;
  width: 100%; }

@media screen and (max-width: 540px) {
  .db_list {
    display: block; } }

.row {
  display: table-row; }

.row:hover {
  background-color: #e8f3ff; }

.row.header {
  white-space: nowrap; }

@media screen and (max-width: 540px) {
  .row {
    padding: 14px 0 7px;
    display: block; }
  .row.header {
    padding: 0;
    height: 0px; }
  .row:nth-of-type(odd) {
    background: #f1f1f1; }
  .row.header .cell {
    display: none; }
  .row .cell {
    margin-bottom: 10px; }
  .row .cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block; } }

.cell {
  padding: 6px 12px;
  display: table-cell; }

@media screen and (max-width: 540px) {
  .cell {
    padding: 2px 16px;
    display: block; } }

.timeline {
  position: relative; }
  .timeline:after {
    content: "";
    width: 2px;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 60px;
    z-index: 1;
    background: #c5c5c5; }
  .timeline .number {
    font-family: "Computer Modern Sans", sans-serif;
    font-size: 16px;
    position: -webkit-sticky;
    position: sticky;
    margin-bottom: 20px;
    top: 35px; }
  .timeline .year {
    position: relative; }
    .timeline .year .description {
      font-size: 80%;
      position: relative;
      padding: 0 0 0 75px;
      margin-bottom: 20px; }
    .timeline .year .post {
      position: relative;
      padding: 0 0 0 75px; }
      .timeline .year .post::before {
        content: "";
        width: 10px;
        height: 10px;
        background: #c5c5c5;
        border: 2px solid #ffffff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        left: 54px;
        top: 3px;
        z-index: 2; }

footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em; }
  footer ul li {
    list-style-type: none; }

/* responsive videos */
.res_emb_block {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0; }

.res_emb_block iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

video {
  width: 100%    !important;
  height: auto   !important; }
