---
layout: default
title: Архив
description: 
permalink: /archive/
---
{% assign postsByYear =
    site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}

{% for year in postsByYear %}
  <div style="text-align: center;"><h1>{{ year.name }}</h1> </div>
    <div class="section-padding archives__container">
      {% for post in year.items %}
        <a href="{{ post.url | prepend: site.baseurl }}">
          <div class="archive_card">
            <div class="info_section">
              <div class="card_header">
                <h2>{{post.title}}</h2>
                <h4>{% include rus_date.html date=post.date %} in {{post.categories[0]}}</h4>            
              </div>
            </div>
            <div class = "blur_back"; style="background-image: url({{post.image}})"> 
            </div>
          </div>
        </a>
        {% endfor %}
    </div>
{% endfor %}