---
layout: default
---
<div id="home">
  <div class="index_intro">
    {{site.profile}}
    <ul class="profile__social">
      {% if site.email %}
        <li><a class="fa fa-lg fa-envelope-o" href="mailto:{{ site.email }}"></a></li>
      {% endif %}
      {% for social in site.social %}
        <li><a class="fa fa-lg fa-{{ social[0] }}" href="{{ social[1] }}" target="_blank"></a></li>
      {% endfor %}
    </ul>
  </div>
  <div style="text-align: center">
  	<h1>Latest posts</h1>
  </div>
  <div class="section-padding archives__container">
  {% for post in site.posts limit:4%}
  	<a href="{{ post.url | prepend: site.baseurl }}">
          <div class="box">
            <div class="cover">
              <img src="{{post.image}}">
            </div>
            <div class="desc" style="padding: 10px">
              <h4>{{post.title | truncatewords: 5}}</h4><p>{% include rus_date.html date=post.date %} in {{post.categories[0]}}</p>
            </div>
          </div>
        </a>
  {% endfor %}
  </div>
  {% include archive-link.html %}
</div>