---
layout: default
---
<div id="home">
  <div class="index_intro">
    {{site.profile}}
  </div>
  <div style="text-align: center">
  	<h1>Latest posts</h1>
  </div>
  <div class="section-padding archives__container">
  {% for post in site.posts limit:4%}
  	<a href="{{ post.url | prepend: site.baseurl }}">
      <div class="box">
        <div class="cover">
          <img src="{{post.image}}">
        </div>
        <div class="desc" style="padding: 10px">
          <h4>{{post.title | truncatewords: 5}}</h4><p>{% include date.html date=post.date %}{% if post.categories[0] %} in {{post.categories[0]}}{%- endif -%}</p>
        </div>
        </div>
      </a>
  {% endfor %}
  </div>
  {% include archive-link.html %}
</div>