---
layout: default
---

<div id="home">
<div class="cat_title" style="z-index: 40;">
	<h1> Teaching </h1>
</div>

<section class="section-padding" itemprop="articleBody">
    <div class="post">
      <h3>🎢 Optimization methods</h3>
    <div class="table">
    
    <div class="row header">
      <div class="cell">
        Name
      </div>
      <div class="cell">
        Date
      </div>
      <div class="cell">
        Role
      </div>
      <div class="cell">
        Place
      </div>
      <div class="cell">
        Materials
      </div>
    </div>
    
    <div class="row">
      <div class="cell" data-title="Name">
        Методы оптимизации
      </div>
      <div class="cell" data-title="Date">
        2017 - 2018
      </div>
      <div class="cell" data-title="Role">
        Assistant lecturer
      </div>
      <div class="cell" data-title="Place">
        МФТИ
      </div>
      <div class="cell" data-title="Materials">
        <div class="front_button"><a href="https://github.com/MerkulovDaniil/mipt_optimization" target="_blank"><i class="fab fa-github"></i> repo </a></div>
      </div>
    </div>
    
    <div class="row">
      <div class="cell" data-title="Name">
        Методы оптимизации
      </div>
      <div class="cell" data-title="Date">
        2018 - 2019
      </div>
      <div class="cell" data-title="Role">
        Assistant lecturer
      </div>
      <div class="cell" data-title="Place">
        МФТИ
      </div>
      <div class="cell" data-title="Materials">
        
      </div>
    </div>
    
    <div class="row">
      <div class="cell" data-title="Name">
        Методы оптимизации
      </div>
      <div class="cell" data-title="Date">
        2019 - 2020
      </div>
      <div class="cell" data-title="Role">
        Assistant lecturer
      </div>
      <div class="cell" data-title="Place">
        МФТИ
      </div>
      <div class="cell" data-title="Materials">
        <div class="front_button"><a href="https://fmin.xyz" target="_blank"><i class="fas fa-globe"></i> site </a></div>
      </div>
    </div>
    
    <div class="row">
      <div class="cell" data-title="Name">
        Методы оптимизации
      </div>
      <div class="cell" data-title="Date">
        2020 - 2021
      </div>
      <div class="cell" data-title="Role">
        Senior lecturer
      </div>
      <div class="cell" data-title="Place">
        МФТИ
      </div>
      <div class="cell" data-title="Materials">
        <div class="front_button"><a href="https://fmin.xyz" target="_blank"><i class="fas fa-globe"></i> site </a></div>
      </div>
    </div>
    
  </div>

  <h3>🧠 Numerical Linear Algebra</h3>
    <div class="table">
    
    <div class="row header">
      <div class="cell">
        Name
      </div>
      <div class="cell">
        Date
      </div>
      <div class="cell">
        Role
      </div>
      <div class="cell">
        Place
      </div>
      <div class="cell">
        Materials
      </div>
    </div>
    
    <div class="row">
      <div class="cell" data-title="Name">
        NLA
      </div>
      <div class="cell" data-title="Date">
        2017
      </div>
      <div class="cell" data-title="Role">
        TA
      </div>
      <div class="cell" data-title="Place">
        Skoltech
      </div>
      <div class="cell" data-title="Materials">
        <div class="front_button"><a href="https://github.com/oseledets/nla2017" target="_blank"><i class="fab fa-github"></i> repo </a></div>
      </div>
    </div>
    
    <div class="row">
      <div class="cell" data-title="Name">
        NLA
      </div>
      <div class="cell" data-title="Date">
        2018
      </div>
      <div class="cell" data-title="Role">
        TA
      </div>
      <div class="cell" data-title="Place">
        Skoltech
      </div>
      <div class="cell" data-title="Materials">
        <div class="front_button"><a href="https://nla.skoltech.ru/old/2018/index.html" target="_blank"><i class="fas fa-globe"></i> site </a></div>
      </div>
    </div>
    
    <div class="row">
      <div class="cell" data-title="Name">
        NLA
      </div>
      <div class="cell" data-title="Date">
        2019
      </div>
      <div class="cell" data-title="Role">
        TA
      </div>
      <div class="cell" data-title="Place">
        Skoltech
      </div>
      <div class="cell" data-title="Materials">
        <div class="front_button"><a href="https://nla.skoltech.ru/" target="_blank"><i class="fas fa-globe"></i> site </a></div>
      </div>
    </div>
    
    
  </div>


  <h3>🗣 Talks</h3>
    <div class="table">
    
    <div class="row header">
      <div class="cell">
        Title
      </div>
      <div class="cell">
        Date
      </div>
      <div class="cell">
        Place
      </div>
      <div class="cell">
        Materials
      </div>
    </div>

    {% assign sorted_talks = site.data.talks | sort: 'date' %}
    {% for talk in sorted_talks %}
      <div class="row">
        <div class="cell" data-title="Title" style="max-width: 50%;">
          {{ talk.title }}
        </div>
        <div class="cell" data-title="Date">
          {{ talk.date }}
        </div>
        <div class="cell" data-title="Place">
          {{ talk.place }}
        </div>
        <div class="cell" data-title="Materials" style="min-width: 100px;">
          {%- if talk.repo -%} <div class="front_button"><a href="{{talk.repo}}" target="_blank"><i class="fab fa-github"></i> repo </a></div>{%- endif -%}
          {%- if talk.bibtex -%}<div class="front_button"><a href="{{talk.bibtex}}" target="_blank"><i class="fas fa-quote-right"></i> Cite </a></div>{%- endif -%}
          {%- if talk.pdf -%}<div class="front_button"><a href="{{talk.pdf}}" target="_blank"><i class="far fa-file-pdf"></i> .pdf </a></div>{%- endif -%}
          {%- if talk.arxiv -%}<div class="front_button"><a href="{{talk.arxiv}}" target="_blank"><i class="ai ai-arxiv"></i> arxiv </a></div>{%- endif -%}
          {%- if talk.video -%}<div class="front_button"><a href="{{talk.video}}" target="_blank"><i class="fab fa-youtube"></i> video </a></div>{%- endif -%}
          {%- if talk.slides -%}<div class="front_button"><a href="{{talk.slides}}" target="_blank"><i class="far fa-file-alt"></i> slides </a></div>{%- endif -%}
          {%- if talk.file -%}<div class="front_button"><a href="{{talk.file}}" target="_blank"><i class="far fa-file-alt"></i> file </a></div>{%- endif -%}
          {%- if talk.code -%}<div class="front_button"><a href="{{talk.code}}" target="_blank"><i class="fas fa-terminal"></i> code </a></div>{%- endif -%}
        </div>
      </div>    
    {% endfor %}
  </div>



  

 </div>
  </section>

{% include archive-link.html %}
</div>