<div class="tab">
    <div>
        <ul class="tabs2">
          <li class="tabs__item2">2017</li>
          <li class="tabs__item2">2018</li>
          <li class="tabs__item2">2019</li>
        </ul>

      <div class="tab2">
        <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>June</strong></span>: test</p> I am Master of Science! (MIPT and Skoltech)
        <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>July</strong></span>: test</p> I have reached Olymp!
      </div>

      <div class="tab2">
        test8
      </div>

      <div class="tab2">
        test9
      </div>



    </div>
  {% include archive-link.html %}
</div>
