<div class="tab">
    <div>
        <ul class="tabs2">
          <li class="tabs__item2">2017</li>
          <li class="tabs__item2">2018</li>
          <!--<li class="tabs__item2">2019</li>-->
        </ul>

      <div class="tab2">
        <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>June</strong></span>: I am a Master of Science! (MIPT and Skoltech)</p> 
        <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>July</strong></span>: I have reached the Olymp!</p>
        <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>August</strong></span>: Теперь я живу в Москве!</p>
        <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>September</strong></span>: Я начал преподавать методы оптимизации лучшим студентам физтеха!</p>
        <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>October</strong></span>: Меня привлекли в проект с Huawei!</p>
        <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>November</strong></span>: I have involved in the NLA course at Skoltech as a TA!</p>
        <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>December</strong></span>: I taught machine learning to Sberbank employees!</p>
      </div>

      <div class="tab2">
        <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>January</strong></span>: Soon!</p>
      <!--  <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>February</strong></span>: I have reached Olymp!</p>-->
      <!--  <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>March</strong></span>: I have reached Olymp!</p>-->
      <!--  <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>April</strong></span>: I have reached Olymp!</p>-->
      <!--  <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>May</strong></span>: I have reached Olymp!</p>-->
      <!--  <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>June</strong></span>: I am Master of Science! (MIPT and Skoltech)</p> -->
      <!--  <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>July</strong></span>: I have reached Olymp!</p>-->
      <!--  <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>August</strong></span>: I have reached Olymp!</p>-->
      <!--  <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>September</strong></span>: I have reached Olymp!</p>-->
      <!--  <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>October</strong></span>: I have reached Olymp!</p>-->
      <!--  <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>November</strong></span>: I have reached Olymp!</p>-->
      <!--  <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>December</strong></span>: I have reached Olymp!</p>-->
      </div>

      <!--<div class="tab2">-->
      <!--  <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>January</strong></span>: I have reached Olymp!</p>-->
      <!--  <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>February</strong></span>: I have reached Olymp!</p>-->
      <!--  <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>March</strong></span>: I have reached Olymp!</p>-->
      <!--  <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>April</strong></span>: I have reached Olymp!</p>-->
      <!--  <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>May</strong></span>: I have reached Olymp!</p>-->
      <!--  <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>June</strong></span>: I am Master of Science! (MIPT and Skoltech)</p> -->
      <!--  <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>July</strong></span>: I have reached Olymp!</p>-->
      <!--  <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>August</strong></span>: I have reached Olymp!</p>-->
      <!--  <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>September</strong></span>: I have reached Olymp!</p>-->
      <!--  <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>October</strong></span>: I have reached Olymp!</p>-->
      <!--  <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>November</strong></span>: I have reached Olymp!</p>-->
      <!--  <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>December</strong></span>: I have reached Olymp!</p>-->
      <!--</div>-->

  <!--   <script src="https://www.amcharts.com/lib/3/ammap.js" type="text/javascript"></script>
	<script src="https://www.amcharts.com/lib/3/maps/js/worldHigh.js" type="text/javascript"></script>
	<script src="https://www.amcharts.com/lib/3/themes/dark.js" type="text/javascript"></script>
	<div id="mapdiv" style="width: 1200; height: 450px;"></div>
	<div style="width: 1200; font-size: 70%; padding: 5px 0; text-align: center; background-color: #535364; margin-top: 1px; color: #B4B4B7;"><a href="https://www.amcharts.com/visited_countries/" style="color: #B4B4B7;">Create your own visited countries map</a> or check out the <a href="https://www.amcharts.com/" style="color: #B4B4B7;">JavaScript Charts</a>.</div>
	<script type="text/javascript">
	var map = AmCharts.makeChart("mapdiv",{
	type: "map",
	theme: "dark",
	projection: "winkel3",
	panEventsEnabled : true,
	backgroundColor : "#535364",
	backgroundAlpha : 1,
	zoomControl: {
	zoomControlEnabled : true
	},
	dataProvider : {
	map : "worldHigh",
	getAreasFromMap : true,
	areas :
	[
		{
			"id": "BE",
			"showAsSelected": true
		},
		{
			"id": "BG",
			"showAsSelected": true
		},
		{
			"id": "FR",
			"showAsSelected": true
		},
		{
			"id": "DE",
			"showAsSelected": true
		},
		{
			"id": "GR",
			"showAsSelected": true
		},
		{
			"id": "IT",
			"showAsSelected": true
		},
		{
			"id": "RU",
			"showAsSelected": true
		},
		{
			"id": "TR",
			"showAsSelected": true
		},
		{
			"id": "UA",
			"showAsSelected": true
		},
		{
			"id": "US",
			"showAsSelected": true
		},
		{
			"id": "VN",
			"showAsSelected": true
		}
	]
	},
	areasSettings : {
	autoZoom : true,
	color : "#B4B4B7",
	colorSolid : "#C65EDB",
	selectedColor : "#C65EDB",
	outlineColor : "#666666",
	rollOverColor : "#9EC2F7",
	rollOverOutlineColor : "#000000"
	}
	});
	</script>
 -->


    </div>
  {% include archive-link.html %}
</div>
