<div class="tab">
    <div>
        <ul class="tabs2">
          <li class="tabs__item2">2017</li>
          <li class="tabs__item2">2018</li>
          <li class="tabs__item2">2019</li>
        </ul>

      <div class="tab2">
        <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>January</strong></span>: test</p>
        <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>February</strong></span>: test</p>
        <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>March</strong></span>: test</p>
        <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>April</strong></span>: test</p>
        <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>May</strong></span>: test</p>
        <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>June</strong></span>: test</p>
        <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>July</strong></span>: test</p>
        <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>August</strong></span>: test</p>
        <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>September</strong></span>: test</p>
        <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>October</strong></span>: test</p>
        <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>November</strong></span>: test</p>
        <p>&nbsp; &nbsp;&nbsp<span style="text-decoration: underline;"><strong>December</strong></span>: test</p>
      </div>

      <div class="tab2">
        test8
      </div>

      <div class="tab2">
        test9
      </div>



    </div>
  {% include archive-link.html %}
</div>
