<div class="tab" id="projects">
	<ul class="cards">
        <li class="card">
        <a class="card__link" href="https://opt.mipt.ru" target="_blank">
            <div class="card__img">
                <figure class="absolute-bg" style="background-image: url('/images/MD.png');"></figure>
            </div>
          
            <div class="card__container">
                <h3 class="card__header">📚opt.mipt.ru</h3>
                <p>Optimization methods for BSc students @ MIPT</p>
            </div>
        </a>
        </li>

        <li class="card">
        <a class="card__link" href="https://nla.skoltech.ru" target="_blank">
            <div class="card__img">
                <figure class="absolute-bg" style="background-image: url('/images/skeleton.png');"></figure>
            </div>
          
            <div class="card__container">
                <h3 class="card__header">📚nla.skoltech.ru</h3>
                <p>Numerical Linear Algebra course for MSc students @ Skoltech</p>
            </div>
        </a>
        </li>

        <li class="card">
        <a class="card__link" href="http://merkulov.top/optim" target="_blank">
            <div class="card__img">
                <figure class="absolute-bg" style="background-image: url('/images/optim.png');"></figure>
            </div>
          
            <div class="card__container">
                <h3 class="card__header">💎Optim</h3>
                <p>Systematic literature review of modern optimization methods</p>
            </div>
        </a>
        </li>

        <li class="card">
        <a class="card__link" href="https://numla.github.io" target="_blank">
            <div class="card__img">
                <figure class="absolute-bg" style="background-image: url('/images/numla.jpg');"></figure>
            </div>
          
            <div class="card__container">
                <h3 class="card__header">🧠Numla</h3>
                <p>Weekly seminars of Oseledets group @ Skoltech</p>
            </div>
        </a>
        </li>
    </ul>

  {% include archive-link.html %}
</div>
