<div class="subscribe__card">
    <center><h4>Подпишись!</h4>
    <form class="newsletter-form" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=MorningDev', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">

        <p class="newsletter-text">Можно получать новый Сказ прямо на почту, горяченьким!</p> 


        <input type="hidden" value="MorningDev" name="uri" />

        <input type="hidden" name="loc" value="ru_RU" />
        
        <input class="newsletter-email" type="text" name="email" placeholder="neutron@proton.io" /> <br>
        <input class="newsletter-submit" type="submit" value="Жмяк" /> 
      </form></center>
  </div>